# Ignore environment files
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build
frontend/build/
build/

# Hardhat artifacts & cache
blockchain/artifacts/
blockchain/cache/
artifacts/
cache/

# Operating system files
.DS_Store

# Build output
dist/
scripts/dist/

# Python
venv/
*/venv/
.venv/
*/.venv/
__pycache__/
*.pyc
.pytest_cache/
